.signin__modalfade{
    background: rgba(33, 36, 44, 0.8784313725490196) !important;
}

.signin__modalbox{
    margin-top: 4rem;
}

.signin__body{
    padding-top: 2rem;
}

.signin__form__col input{
    border-radius: 0;
}

.signin__form__col button{
    background-color: #2b95f9;
    color: #fff;
    padding: 0.2rem 1.5rem;
    border-radius: 2px;
    transition: all 0.25s ease-in;
}

.signin__form__col button:hover,
.signin__form__col button:focus{
    background-color: #0b72d4;
    color: #fff;
}

.signin__modal__footer{
    border-bottom: 6px solid #af9e91;
    border-radius: 0;
}

.modal__colose{
    opacity: 0.9;
    font-size: 1.6rem;
    font-weight: 300;
}

.modal__colose>span{
    color: #fff;
}


.centered-modal .modal-dialog {
    top: 0;
}

.modal-content.video__modal__content{
    background-color: #131313;
}

.modal-header.video__modal__header{
    background-color: transparent;
}

.video__modal__body{
    padding: 0;
}

.demo__video__ifarame{
    width: 100%;
    height: 80vh;
}

.video__modal__colose{
    width: fit-content;
    position: absolute;
    top: -46px;
    right: -68px;
    font-size: 3rem;
    font-weight: 200;
}

.signin__modalfade.fadee_vv{
    background: rgba(33, 36, 44, 0.95) !important;
}





