.heroimg-div{
    margin-top: 54px;
    position: relative;
}

.heroimg-home{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.heroimg-text{
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #1e4456;
}

.modal-header{
    background: #1e4456 !important;
}
.modal-content {
    border-radius: 5px;
    color: #333;
    border: 5px solid #625d4d;
}
.result_div{
    position: absolute;
    background-color: #eee;
    width: 93%;
    border: 1px solid #9a9a9a;
    display: none;
    padding: 10px;
}

.heroimg-text h1{
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.heroimg-text h5{
    font-size: 1.85rem;
    font-weight: 300;
}

.home__playbutton__box{
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
    width: fit-content;
    cursor: pointer;
}

.home__banner__paly__text{
    margin-left: 24px;
}

.home__banner__paly__text>h6{
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 400;
}

.home__banner__paly__text>h6>span{
    font-weight: 300;
}

.heroimg-text button{
    background-color: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    color: #fff;
    border: 2px solid #0e73dc;
    text-align: center;
    padding: 0;
    position: relative;
    transition: all 0.25s ease-in-out;
}

.heroimg-text button::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #bbd6ff;
    width: 95px;
    height: 95px;
    border-radius: 100px;
    transform: translate(-50%, -50%);
    z-index: -1;
    
}

.heroimg-text button:hover::after{
    background-color: rgba(183, 208, 247, 0.611764705882353);
}
.heroimg-text button:hover{
    color: #fff;
    background-color: #ffffff;
    border: 3px solid rgba(43, 114, 220, 0.43137254901960786);
}


.heroimg-text button img{
    position: absolute;
    left: 51%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
}

.viewall__btn{
    color: #fff;
    background-color: #1e4456;
    border-radius: 4px;
    padding: 0.25rem 1.3rem;
    font-size: 0.86rem;
}

.viewall__btn:hover{
    color: #fff;
    background-color: #1e4456;
}

@media screen and (max-width: 1024px){
    .demo__video__ifarame {
        height: 73vh;
    }
}

@media screen and (max-width: 768px){
    .demo__video__ifarame {
        height: 49vh;
    }
}



@media screen and (max-width: 525px){
    .heroimg-div {
        margin-top: 66px;
    }
    .heroimg-text h1 {
        font-size: 2rem;
    }
    .heroimg-text h5{
        font-size: 1rem;
    }
    .heroimg-text button{
        width: 80px;
        height: 80px;
    }
    .heroimg-text button img{
        width: 50%;
    }
    .demo__video__ifarame{
        height: 37vh;
    }
    .video__modal__colose{
        top: -52px;
        right: 0;
    }
}
@media screen and (max-width:325px){
    .heroimg-div {
        margin-top: 60px;
    }
}