.joinus__today__section{
    background: url(../../../../public/images/25578b2ef9e7fab.jpg) no-repeat #F6F8FA;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 70px;
}

.joinus__box{
    text-align: center;
}

.joinus__heading{
    margin-bottom: 45px;
}

.joinus__heading h3{
    font-size: 2.3rem;
    color: #1e4456;
}

.joinus__content{
    margin-bottom: 45px;
}

.joinus__content p{
    font-size: 1.1rem;
    color: #404040;
}

.joinus__button__box Link:hover{
    color: #fff;
}

.joinus__btn{
    color: #1e4456;
    font-size: 1.45rem;
    border: 2px solid #1e4456;
    border-radius: 35px;
    padding: 0.3rem 4rem;
}

.joinus__btn:hover{
    color: #fff;
    background-color: #1e4456;
}

@media screen and (max-width: 1024px){
    .joinus__today__section{
        padding-top: 38px;
        padding-bottom: 38px;
    }
    .joinus__heading {
        margin-bottom: 20px;
    }
    .joinus__heading h3{
        font-size: 2rem;
    }
    .joinus__content {
        margin-bottom: 22px;
    }
    .joinus__content p {
        font-size: 1.05rem;
    }
    .joinus__btn{
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 525px){
    .joinus__today__section{
        background-position-x: center;
    }
    .joinus__heading h3 {
        font-size: 1.5rem;
    }
    .joinus__content p {
        font-size: 1rem;
    }
    .joinus__btn {
        font-size: 1.15rem;
    }
}



