.courselist-div{
    padding-bottom: 2em;
    margin-top: 3em;
}

.courselist-div h2{
    font-weight: 400;
    position: relative;
    color: #1e4456;
    font-size: 1.6rem;
    margin-bottom: 60px;
}

.courselist-div h2::before{
    content: '';
    width: 70%;
    height: 1px;
    position: absolute;
    right: 0;
    top: 56%;
    background-color: #333;
}

.video-list-box{
    background-color: #fff;
    color: #333;
    border-radius: 0.15rem;
    position: relative;
    box-shadow: 0px 5px 17px rgba(109, 109, 109, 0.23);
    margin-bottom: 2.5rem;
    border: 1px solid #cecece;
    transition: all 0.25s ease-in;
    min-height: 60px;
}

.video-list-box:hover{
    box-shadow: 0px 2px 8px rgba(109, 109, 109, 0.10);
}

.video-list-header_1{
    text-align: center;
    position: relative;
}

.video-list-img{
    width: 95%;
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.25s ease-in-out;
}

.video-list-box:hover .video-list-img{
    top: -15px;
}

.video-list-img img{
    width: 100%;
    border-radius: 0.15rem;
    box-shadow: 1px 5px 13px rgba(8, 57, 107, 0.25);
    object-fit: cover;
}

.video-list-content{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.8rem;
    margin-top: 1.3rem;
    min-height: 70px;
    position: relative;
}

.video-list-content h6{
    font-size: 0.8rem;
    color: #585858;
    font-weight: 400;
}

.video-list-content h4{
    color: #191919;
    font-weight: 400;
    font-size: 1.05rem;
}

.trainer-name-box{
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 14px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.video-list-content p{
    font-size: 0.8rem;
    color: #585858;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

.video-list-content p>span{
    margin-right: 0.3rem;
}

a:hover{
    text-decoration: none;
}

.video-list-box:hover .video-list-content h4{
    color: #1e4456;
}

.checkout__btn__div{
    text-align: right;
    margin-top: 20px;
    margin-bottom: 30px;
}

.viewall__btn{
    color: #fff;
    background-color: #1e4456;
    border-radius: 4px;
    padding: 0.25rem 1.3rem;
    font-size: 0.86rem;
}

.viewall__btn:hover{
    color: #fff;
    background-color: #1e4456;
}

@media screen and (max-width: 1024px){
    .video-list-header{
    }
    .video-list-box{
        min-height: 210px;
    }
    .video-list-content{
        min-height: 92px;
        margin-top: 0.6rem;
    }
    .video-list-content h4{
        font-size: 0.85rem;
        line-height: 20px;
    }
    .video-list-content p{
        font-size: 0.73rem;
    }
    .courselist-div h2::before{
        width: 66%;
    }
}

@media screen and (max-width: 768px){
    .thin-nav-item-heading h4{
        font-size: 1rem;
    }
    .thin-nav-item-heading p{
        font-size: 0.75rem;
    }
    .thin-nav-item span{
        margin-right: 0.2rem;
    }
    .thin-nav-item span img{
        width: 88%;
    }

    .video-list-box{
        margin-bottom: 1.5rem;
    }

    
    .courselist-div h2{
        font-size: 1.5rem;
    }
    .courselist-div h2::before{
        width: 50%;
    }

}

@media screen and (max-width: 768px) and (min-width: 576px){
    .video-list-header {
        
    }
    .video-list-content {
        min-height: 108px;
        margin-top: 0.6rem;
    }
    .video-list-content h4{
        font-size: 14px;
        text-align: center;
    }
    .trainer-name-box{
        bottom: 8px;
        margin-top: 0;
    }

    .viewall__btn{
        width: 95px;
        padding: 0.4rem 0;
        font-size: 0.76rem;
        font-weight: 800;
    }
}

@media screen and (max-width: 575px){
    
    .thin-nav-container{
        padding: 1rem 0.5rem 0.3rem;
    }
    .thin-nav-list .thin-nav-item{
        flex-direction: column;
        justify-content: flex-start;
    }
    .thin-nav-item span{
        text-align: center;
    }
    .thin-nav-item span img{
        width: auto;
        height: 40px;
    }
    .thin-nav-item-heading{
        margin-top: 0.5rem;
        text-align: center;
    }
    .thin-nav-item-heading h4{
        font-size: 0.85rem;
    }
    .video-list-header{
        
    }
    .video-list-img{
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    .video-list-box{
        margin-bottom: 2.5rem;
    }
    .courselist-div{
        padding-bottom: 0;
    }
    .courselist-div h2::before{
        display: none;
    }

    .video-list-content{
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        min-height: 77px;
    }
    
    .video-list-content h4 {
        font-size: 1.05rem;
    }
    .trainer-name-box{
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    .video-list-content p {
    font-size: 0.85rem;
    }
}

@media screen and (max-width: 375px){
    .video-list-header{
        
    }
    
}
@media screen and (max-width: 325px){
    .video-list-header{
        
    }
    
}


