.footer{
    background-color: #131313;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.footer ul{
    list-style: none;
}

.footer__inerrow a{
    color: #a7a7a7;
    font-size: 1rem;
    transition: all 0.25s ease-in-out;
}

.footer__inerrow a:hover{
    color: #fff;
}

.footer__inerrow ul{
    display: flex;
    justify-content: space-evenly;
}

.footer__bottom{
    border-top: 1px solid #4c4c4c;
    padding-top: 1.5rem;
    color: #909090;
    display: flex;
    justify-content: space-between;
}

.footer__socialmedia{
    color: #fff;
}

.footer__socialmedia ul{
    display: flex;
    justify-content: space-between;
}

.footer__socialmedia ul li{
    margin-right: 1rem;
}

.footer__socialmedia ul li:last-child{
    margin-right: 0;
}

.footer__socialmedia ul li a{
    color: #909090;
    transition: all 0.25s ease-in-out;
}

.footer__socialmedia ul li a:hover{
    color: #fff;
}

.footer__socialmedia ul li a i{
    font-size: 1.8rem;
}

.cookie_alert{
    background-color: #1f2226;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 300;
}

#cookie-continue{
    background: #3790f0;
    color: white;
    float: right;
    border: 1px #0f2684 solid;
    border-radius: 0;
}

.alert_text{
    display: inline;
    float: left;
    font-size: 0.8rem;
}

.alert_content{
    color: white;
    padding-left: 10%;
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 3%;
}
.ffhom__logo{
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 700;
}
.copyright__sec a{
    color: #a7a7a7;
}

@media screen and (max-width: 1024px){
    .alert_text{
        width: 70%; 
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 575px){
    .footer{
        padding-top: 1.5rem;
    }
    .footer__inerrow ul{
        display: inherit;
        padding-left: 0;
        text-align: center;
    }

    .footer__inerrow ul li:first-child{
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        padding-right: 0;
        padding-left: 0;
        border-right: unset;
    }

    .footer__inerrow ul li{
        display: inline-block;
        padding-right: 0.7rem;
        padding-left: 0.7rem;
        border-right: 1px solid #3a3a3a;
    }

    .footer__inerrow ul li:last-child{
        border-right: unset;
    }
    
    .footer__bottom{
        flex-direction: column-reverse;
    }

    .copyright__sec{
        text-align: center;
    }

    .footer__socialmedia ul {
        padding-left: 0;
        justify-content: center;
    }
    .ffhom__logo{
        display: none;
    }
}












