.unpain__navbar__sec{
    background-color: #1e4456;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logNav .nav-item a{
    color: #fff;
    font-size: 1.2rem;
}

.unpain__navbar__sec nav{
    margin-left: 30px;
    margin-right: 30px;
}

.unpain__navbar__sec nav ul.navbar-nav li{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.unpain__navbar__sec nav ul.navbar-nav li:first-child{
    margin-left: 0;
}

.unpain__navbar__sec nav ul.navbar-nav li:last-child{
    margin-right: 0;
}

.unpain__navbar__sec nav ul.navbar-nav li.nav-item span.nav-link{
    color: #fff;
    /* font-size: 1rem; */
    font-size: 20px;
    cursor: pointer;
    margin-top: -6px;
}

.unpain__navbar__sec nav ul.navbar-nav li.nav-item span.nav-link i{
    font-size: 1.5rem;
}

.user__pro__unpaid{
    left: -15px;
    border-radius: unset;
}

.user__pro__unpaid a{
    border-bottom: 1px solid #eaeaea;
}

.dropdown-item:hover,
.dropdown-item:focus{
    background-color: #efefef;
}


.navbar-toggler{
    background: #fff;
}

.cart__linknav{
    position: relative;
}

.navbar-brand{
    color: white!important;
    font-size: 1.5rem;
    font-weight: 700;
}

.cart__linknav>span{
    position: absolute;
    top: 0px;
    left: 30px;
    background-color: #a00714;
    width: 23px;
    height: 23px;
    text-align: center;
    border-radius: 50%;
    font-size: 0.74rem;
    padding-top: 0.2rem;
}

.verify__textbox{
    position: fixed;
    width: 20%;
    right: 0;
    /* top: 75px; */
    bottom: -16px;
    border: 1px #e49f9f solid;
    border-radius: 0px;
    text-align: center;
    z-index: 99;
}

.navbar-toggler-icon{
    background-image: url(/images/hambuger.png);
}

.dropdown-item{
    color: #424242!important;
    font-size: 1rem!important;
    font-weight: 300;
}
@media screen and (max-width:1440px){
    .verify__textbox{
        width: 25%;
    }
}

@media screen and (max-width:1024px){
    .verify__textbox{
        width: 35%;
    }
}

@media screen and (max-width: 768px){
    .verify__textbox{
        width: 45%;
    }

    .nnav__trans__back{
        background-color: transparent;
    }
    .unpain__navbar__sec nav.log__cusnavimain{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .nnav__kkwrap{
        width: 100%;
        display: flex;
        padding: 0.5rem 1.1rem;
        align-items: center;
        background-color: #004799;
        
    }
    .logg__btnnav{
        padding: 6px 0.75rem;
        height: fit-content;
    }
    .llogihhb_3{
        margin-right: 0!important;
    }
    .unpain__navbar__sec nav ul.navbar-nav li:first-child{
        margin-left: 0;
    }

    .nnavul__nav{
        width: 230px;
        margin-left: auto;
        background-color: rgba(46, 128, 199, 0.97);
        border: 1px solid #689fd2;
        border-top: unset;
        border-right: unset;
        padding-top: 10px;
    }
    .unpain__navbar__sec nav ul.navbar-nav.nnavul__nav li{
        padding-left: 1rem;
        padding-right: 0.8rem;
        margin:  0 0 0.8rem;
        border-bottom: 1px dotted rgba(255, 255, 255, 0.1607843137254902)
    }
    .unpain__navbar__sec nav ul.navbar-nav.nnavul__nav li:last-child{
        border-bottom: unset;
    }

    .user__pro__unpaid{
        border-radius: unset;
        width: fit-content;
        padding-top: 0;
        padding-bottom: 0;
        background-color: #0c3658;
        display: flex;
        margin-top: 10px;
    }
    .user__pro__unpaid .dropdown-item{
        color: #fff !important;
        border-bottom: unset;
        border-right: 1px solid #60a4e0;
        border-radius: unset;
        padding-top: 0.35rem;
        padding-bottom: 0.35rem;
    }
    .user__pro__unpaid .dropdown-item:last-child{
        border-right: unset;
    }

    /* .dropdown-menu.user__pro__unpaid{
        display: block;
    } */
    
}

@media screen and (max-width: 524px){
    .unpain__navbar__sec nav.log__cusnavimain{
        padding-left: 0;
        padding-right: 0;
    }
    .lognavi__aa{
        width: 161px;
    }
    .lognavi__aa img{
        width: 100%;
    }
    .logNav .nav-item a{
        font-size: 1rem;
    }
}



@media screen and (max-width:425px){
    .verify__textbox{
        width: 80%;
    }
}

@media screen and (max-width:325px){
    .verify__textbox{
        width: 100%;
    }
    .empty__cou__inner h4{
        font-size: 1.2rem;
    }
}






