.flex1{
    flex: 1;
}

.just__flexend{
    justify-content: flex-end;
}

.navigation__home{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #1e4456;
}

.mar_right15{
    margin-right: 1.5rem;
}

.link__home__navbar li{
    margin-right: 1rem;
    align-self: center;
}

.link__home__navbar li a{
    color: #fff;
}

.link__home__navbar li a:hover{
    color: #addcff;
}

.red__btn{
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    padding: 0.2rem 1rem;
    border-radius: 0.22rem;
    transition: all o.25s ease-in;
    font-weight: 600;
}

.red__btn:hover,
.red__btn:active,
.red__btn:focus{
    background-color: #2b72dc;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.7411764705882353);
}

.modal-content{
    border-radius: 0;
    color:#333;
}

.modal-header{
    padding: 0.7rem 1rem;
    background: #004799;
    color: #fff;
    border-radius: unset;
}


.modal-backdrop{
    z-index: 700;
}

.nav__a1 a{
    font-size: 1rem;
    text-transform: uppercase;
    transition:  all 0.25s ease-in;
}
.navbar-light .navbar-brand{
    color:white!important;
    font-weight: 700;
}

@media screen and (max-width: 768px){
    .gen__navi{
        border-top: 1px solid rgb(7, 38, 95);
        padding-top: 15px;
        padding-bottom: 10px;
        margin-top: 5px;
    }
    .link__home__navbar{
        flex-direction: row;
    }
    .link__home__navbar li a{
        color: #FFC706;
    }
    .red__btn{
        background-color: #0552da;
        border: 2px solid #a2b4d4;
        color: #ffffff;
    }
    
}

@media screen and (max-width: 525px){
    .gen__mainnavi{
        padding-left: 0;
        padding-right: 0;
    }
    .gen__mainnavi .navbar-brand{
        width: 165px;
    }
    .gen__mainnavi .navbar-brand img{
        width: 100%;
    }
    .link__home__navbar li a {
        
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 350px){
    .navbar-brand{
        width: 149px;
    }
    .navbar-brand img{
        width: 100%;
    }
}